body {
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-size: 0.85vw;
  z-index: 2;
}

.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);*/
}

.bg-img {
  width: 95%;
  height: 100%;
  border-radius: 0rem 0rem 2rem 2rem;
  position: relative;
  z-index: 0;
  background-color: black;
}

@media (max-width: 800px) {
  .bg-img {
    width: 100%;
  }
}

.bg-img video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  position: absolute;
  border-radius: 0rem 0rem 2rem 2rem;
  opacity: 0.5;
}

.bg-img video::-webkit-media-controls {
  display: none !important;
}

.nav-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
  width: 85%;
  border-bottom: 1px solid #fff;
  margin-bottom: 20vh;
}

@media (max-width: 800px) {
  .navigation {
    margin-bottom: 10vh;
  }
}

/* NAV LINKS */
.navigation-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.fa-phone {
  margin-right: clamp(4px, 0.5vw, 8px);
  font-size: 24px;
}

.nav-item:link,
.nav-item:visited {
  font-size: clamp(12px, 0.75vw, 16px);
  text-decoration: none;
  margin-right: 3vw;
}

.nav-item:link:last-child,
.nav-item:visited:last-child {
  text-decoration: none;
  margin-right: 0;
}

/* Hover animation */
.nav-item::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    to right,
    #f85032 0%,
    #e73827 51%,
    #f85032 100%
  );
  height: 2px;
  width: 0;
  bottom: -4px;
  left: 0;
  transition: 0.25s;
}

.nav-item:hover::after {
  width: 100%;
}

/* NAV ACTION */
.nav-action:link,
.nav-action:visited {
  font-size: clamp(12px, 0.75vw, 16px);
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #eb4c30 0%,
    #e73827 51%,
    #eb4c30 100%
  );
  padding: 1.5vh 1.5vw;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 32px; /*0rem 2rem 0rem 2rem;*/
  display: block;
}

.nav-action:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* Mobile nav */
.mobile {
  display: none;
}

@media (max-width: 800px) {
  .nav-item {
    display: none;
  }

  .navigation-links .nav-action {
    display: none;
  }

  .navigation {
    padding: 3vh 0;
  }

  .mobile {
    display: inline;
    font-size: 14px;
  }
}
/* CONTENT */
.main-content {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 16vh;
}

article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
}

@media (max-width: 800px) {
  article {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.article-header {
  flex: 1;
}

.article-title,
.title-emphasis {
  font-size: clamp(32px, 3vw, 92px);
  font-weight: 900;
}

.title-emphasis {
  display: inline-block;
  position: relative;
  background-color: #eb4c30;
  margin-bottom: 3vh;
}

.article-header p {
  font-size: clamp(14px, 1vw, 16px);
  line-height: 2.5vh;
  margin-bottom: 5vh;
}

.main-content .dots {
  display: none;
}

/* FORM */

.form {
  flex: 1;
}

.form-title,
.form-emphasis {
  text-transform: uppercase;
  font-size: clamp(20px, 2vw, 32px);
}

.form-1 h1 {
  margin-bottom: 2vh;
  color: #fff;
}

.form-1 p {
  color: #fff;
  line-height: 2.5vh;
  margin-bottom: 2.5vh;
  font-size: clamp(14px, 1vw, 16px);
}

.form-2 {
  color: #fff;
}

.form-2 input[type="text"] {
  width: 100%;
  height: 3vh;
  color: #fff;
  font-size: clamp(14px, 1vw, 24px);
  background: none;
  border: none;
  border-bottom: 2px solid #fff;
  margin-bottom: 2.5vh;
}

.form-2 .address-2 {
  display: flex;
  gap: 1rem;
}

.form-2 form {
  margin-bottom: 1.5rem;
}

.form-3 input[type="submit"] {
  text-decoration: none;
  /*background-image: linear-gradient(
    to right,
    #eb4c30 0%,
    #e73827 51%,
    #eb4c30 100%
  );*/
  background-color: #fff;
  padding: 1.5vh 1.5vw;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #eb4c30;
  /*box-shadow: 0 0 20px #eeeeee11;*/
  display: block;
  font-size: clamp(12px, 1vw, 16px);
  border: none;
}

@media (max-width: 800px) {
  .main-content {
    padding-bottom: 10vh;
  }
  .form-1 p {
    margin-bottom: 4vh;
  }

  .main-content .dots {
    display: block;
    color: #fff;
  }
}

/* SECONDARY CONTENT */
.content {
  width: 100%;
  color: #131313;
  background-color: #f8f8f8;
}

.content header {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 4vh;
}

.bg-title {
  font-size: clamp(20px, 2vw, 32px);
  text-align: center;
  color: #eb4c30;
  margin-bottom: 2vh;
}

.title-text {
  text-align: center;
  font-size: clamp(14px, 1vw, 16px);
  width: 50%;
  margin: 0 auto;
}

.dots {
  text-align: center;
  margin-top: 4vh;

  font-size: 32px;
  color: #eb4c30;
}

/* Cards */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 16px;
}

.card {
  width: 30%;
  height: 350px;
  padding: 4vh 4vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: 0 0 10px #ebebeb;
  transition: 0.5s;
  background-color: #fff;
}

.card:hover {
  box-shadow: 0 0 10px #c8c8c8;
}

.card-title,
.card-title span {
  font-size: clamp(16px, 1.5vw, 32px);
}

.card-title {
  margin-bottom: 2vh;
  text-align: center;
}

.card-text {
  line-height: 2.5vh;
  margin-bottom: 2.5vh;
  font-size: clamp(14px, 1vw, 16px);
  text-align: center;
}

.card-img {
  align-self: center;
  margin-top: 2vh;
  margin-bottom: 4vh;
}

.card-img img {
  width: 64px;
  height: 64px;
}

@media (max-width: 800px) {
  .cards {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .title-text {
    width: 100%;
  }

  .card {
    width: auto;
    height: auto;
  }

  .card-img img {
    width: 48px;
    height: 48px;
  }
}

/* Third content */

.third {
  width: 100%;
  background: none;
}

.inner-content {
  width: 85%;
  padding: 16vh 0;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
}

.third header {
  width: 50%;
}

.third .bg-title {
  text-align: left;
  margin-bottom: 4vh;
}

.third .title-text {
  text-align: left;
  width: 75%;
  margin: 0;
  margin-bottom: 3vh;
}

.third .cards {
  margin: 0;
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
}

.third .card {
  width: 100%;
  height: 100%;
  padding: 4vh 4vw;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  margin-bottom: 24px;
}

.card:hover {
  background-color: #eb4c30;
  color: white;
}

.third .card-title,
.third .card-text {
  text-align: left;
}

.third .card-title {
  font-size: clamp(16px, 1vw, 32px);
}

.third .card-more {
  color: #eb4c30;
  font-size: clamp(14px, 0.85vw, 16px);
}

.call-to-action {
  font-size: clamp(14px, 1vw, 16px);
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #eb4c30 0%,
    #e73827 51%,
    #eb4c30 100%
  );
  padding: 1.5vh 1.5vw;
  text-align: center;
  transition: 0.5s;
  color: white;
  display: block;
  width: 33.3%;
  margin-top: 6vh;
}

.third .dots {
  display: none;
}

@media (max-width: 800px) {
  .inner-content {
    flex-direction: column;
    padding: 5vh 0;
  }

  .third header {
    width: 100%;
  }

  .third .cards {
    width: 100%;
    flex-wrap: wrap;
  }

  .third .title-title {
    width: 100%;
  }

  .third .title-text {
    width: 100%;
  }

  .call-to-action {
    width: 50%;
    margin: 4vh auto;
  }

  .third .dots {
    display: block;
  }
}
